@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("normalize.css");
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Crimson Text", serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
  background-color: #f3f3f3;
  color: #004dc6;
  text-decoration: underline;
}
p {
  font-size: 22px;
  font-weight: regular;
  color: #000;
  color: #001f4f;
  line-height: 1.5em;
}
.logo-mobile {
  background-image: URL("../img/img-logo@2x.png");
  grid-column: 1;
  width: 10vw;
  height: 10vw;
  background-size: 10vw 10vw;
  display: inline-block;
}
@media (min-width: 40em) {
  .logo-mobile {
    opacity: 0;
  }
}
.logo-desktop {
  background-image: URL("../img/img-logo@2x.png");
  grid-column: 2;
  width: 84px;
  height: 84px;
  background-size: 84px 84px;
  display: none;
  margin-top: 24px;
}
@media (min-width: 40em) {
  .logo-desktop {
    display: inline-block;
  }
}
header {
  width: 100%;
  height: 136px;
  position: absolute;
  z-index: 1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 0px;
  width: 100%;
}
#background {
  position: absolute;
  z-index: 0;
  height: 100%;
}
#background .column {
  height: 100%;
  border-right: 1px solid #f6f6f6;
}
#background .columnlast-child {
  border: none;
}
#content #text-wrapper {
  z-index: 1;
  grid-column: 2/span 6;
  margin-top: 1em;
}
@media (min-width: 40em) {
  #content #text-wrapper {
    margin-top: 14em;
  }
}
@media (min-width: 40em) {
  #content #text-wrapper {
    grid-column: 2/span 5;
  }
}
@media (min-width: 60em) {
  #content #text-wrapper {
    grid-column: 2/span 4;
  }
}
#content #text-wrapper p {
  margin-top: 1.5em;
  z-index: 3;
}
#content #text-wrapper a {
  color: #000;
  position: relative;
  display: inline-block;
  z-index: 3;
  transition: 0.3s all;
}
#content #text-wrapper a:hover {
  transform: translate(5px, -5px);
}
#content #text-wrapper a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 55%;
  height: 25%;
  background-color: #f8e71c;
  z-index: -1;
  transition: all 0.1s ease-out;
}
#content #text-wrapper a:hover:before {
  top: -10%;
  height: 110%;
}
#social-links {
  position: relative;
  grid-column: 2/span 6;
  z-index: 1;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
}
@media (min-width: 40em) {
  #social-links {
    grid-column: 2/span 4;
  }
}
@media (min-width: 60em) {
  #social-links {
    grid-column: 2/span 4;
  }
}
#social-links li {
  display: inline-block;
}
#social-links a {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 96px;
  background-position: 0 0;
}
#social-links a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  bottom: 3%;
  height: 0;
  background-color: #f8e71c;
  z-index: -1;
  transition: all 0.1s ease-out;
}
#social-links a:hover {
  background-position: 0px -48px;
}
#social-links a:hover:before {
  height: 50%;
  bottom: -10%;
}
#social-links #icn-dribbble {
  background-image: URL("../img/icn-dribbble@2x.png");
}
#social-links #icn-codepen {
  background-image: URL("../img/icn-codepen@2x.png");
}
#social-links #icn-medium {
  background-image: URL("../img/icn-medium@2x.png");
}
#social-links #icn-github {
  background-image: URL("../img/icn-github@2x.png");
}
#social-links #icn-twitter {
  background-image: URL("../img/icn-twitter@2x.png");
}
#social-links #icn-instagram {
  background-image: URL("../img/icn-instagram@2x.png");
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
#main {
  display: none;
}
#main.loaded {
  display: block;
}
#preloader {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  z-index: 100;
}
#preloader.loaded {
  display: none;
}
#preloader:before {
  content: "";
  background: #d7d7d7;
  height: 3px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
#preloader::after {
  content: "";
  background: #004fc1;
  height: 3px;
  width: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: loading 2s ease-in-out forwards;
  transform-origin: 0 50%;
}
.revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  pointer-events: none;
  opacity: 1;
}
.revealer#block-1 {
  background: #e3e3e3;
  z-index: 1001;
}
.revealer#block-2 {
  background: #004dc6;
  z-index: 1002;
}
.revealer#block-3 {
  background: #e3e3e3;
  z-index: 1001;
}
.dg {
  z-index: 99 !important;
}
.hover-reveal__inner {
  display: block;
  width: 100px;
  height: 100px;
}
@-moz-keyframes loading {
  0% {
    transform: translateX(-50%) scaleX(0);
  }
  50% {
    transform: translateX(-50%) scaleX(0.3);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: translateX(-50%) scaleX(0);
  }
  50% {
    transform: translateX(-50%) scaleX(0.3);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
@-o-keyframes loading {
  0% {
    transform: translateX(-50%) scaleX(0);
  }
  50% {
    transform: translateX(-50%) scaleX(0.3);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
@keyframes loading {
  0% {
    transform: translateX(-50%) scaleX(0);
  }
  50% {
    transform: translateX(-50%) scaleX(0.3);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
